body{
    margin: 0;
    padding: 0;
    font-family: 'Josefin sans';
    overflow-x: hidden;
}
.nav-link{
    color:var(--secondary-color);
}

body{
    background-color: var(--primary-color);
}

.logo img{
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
}
.nav-link-all{
    color: var(--secondary-color);
}
.navs{
    display: flex;
    gap: 30px;
    font-size: 20px;
}
.vector-nav{
    position: relative;
    left: 200px;
}
.all-txt{
    padding-top: 150px;
}
.Discoverbutton1{
    background-color:#742296;
    border: none;
    width: 150px;
    height: 45px;
    color:white;
}
.Bookbutton2{
    background-color:white;
    border: 5px solid #742296;
    width: 150px;
    height: 45px;
    color:black;
}
.rectangle-all{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.alltheitems{
    display: flex;
    flex-direction: row;
}
.img1{
    width: 200px;
    height: 500px;
    position: relative;
    top: 50px;
}
.img2{
    width: 200px;
    height: 500px;
    position: relative;
}
.img3{
    width: 200px;
    height: 500px;
    position: relative;
    top: 50px;
}
.img4{
    width: 200px;
    height: 500px;
}
.play{
    width: 30px;
    height: 30px;
}
.tick{
    width: 30px;
    height: 30px 
}
.watch{
    display: flex;
    flex-direction: row;
    color: #742296;
}
.trusted{
    display: flex;
    flex-direction: row;
}
.Tigzozo{
    width: 100%;
    height: 100vh;
    padding-top: 180px;
}
.rect2{
    width: 250px;
    height: 300px;
    position: relative;
    top: 70px; 
}
.rect1{
    width: 250px;
    height: 300px;
}
.tigz-img{
    background-image: url('../images/Rectangle\ 15.jpg');
    width: 420px;
    height: 450px;
    position: relative;
    
}
.overlay{
    background-color: rgba(0, 0, 0, 0.229);
    width: 100%;
    height: 100%;
    position: absolute;
}
.youtube{
    width: 80px;
    height: 80px;
    position: absolute;
    left: 170px;
    top: 180px;
}
.buttonfind{
    background-color:#742296;
    border: none;
    width: 150px;
    height: 45px;
    color:white;
}
.services{
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    padding-left: 80px;  
}
.events{
    background-image: url('../images/Rectangle\ 27.png');
    width: 400px;
    height: 680px;
    position: relative;
}
.next1{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 350px;
    top: 630px;
}
.overlay2{
    background-color: rgba(0, 0, 0, 0.229);
    width: 100%;
    height: 100%;
    position: absolute;
}
.Digital-services{
    background-color:#742296;
    width: 400px;
    height: 680px;
}
.cancel{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 330px;
    top: 490px;
}
.offers{
     display: flex;
     flex-direction: row;
     position: relative;
     top: 150px;
     gap: 10px;
}
.tigz-services{
    position: relative;
    top: 100px;
    right: 50px;
}
.Media{
    background-image: url('../images/Rectangle\ 29.png');
    width: 400px;
    height: 680px;
}
.next2{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 630px;
    right: 140px;
}
h4{
    color: white;
    display: flex;
    position: relative;
    padding-top: 650px;
    padding-left: 160px;
}
.listservices{
    color: white;
    position: relative;
    top: 100px;
    left: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 2px;
}
h3{
    color: white;
    position: relative;
    top: 50px;
    left: 30px;
}
.happy-clients{
    width: 100%;
    height: 100vh;
    padding-top: 400px;
    position: relative;
    left: 40px;
}
.clients{
    position: relative;
    bottom: 80px;
}
.rect40{
    position: relative;
}
.container-seen{
    width: 100%;
    height: 100vh;
    padding-top: 400px; 
}
.seen-all{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-left: 150px;
    position: relative;
    top: 80px;
}
.h2-seen{
    position: relative;
    left: 550px;

}
.insta{
    font-family: 'Great vibes';
}
.seen1{
    width: 180px;
    height: 400px;
    position: relative;
}

.seen2{
    width: 180px;
    height: 400px;
    position: relative;
    top: 50px;
}

.seen3{
    width: 180px;
    height: 400px;
    position: relative;
}
.seen4{
    width: 180px;
    height: 400px;
    position: relative;
    top: 50px;
}
.seen5{
    width:180px;
    height: 400px;
    position: relative;
    
}
.seen6{
    width: 180px;
    height: 400px;
    position: relative;
    top: 50px;
}
.tigz-seenh2{
    position: relative;
     top: 180px;
    left: 600px;
    bottom: 60px;
}
.seen-follow-button{
    background-color:#742296;
    border: none;
    width: 150px;
    height: 45px;
    color:white;
    position: relative;
    top: 190px;
    left: 600px; 
}
.footer-end{
    background-color: #742296;
    position: relative;
    top: 400px;
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.footer{
    color: white;
    display: flex;
    flex-direction: row;
    padding: 0px 90px;
    gap: 150px;
    opacity: 90%;
    line-height: 25px;
    
}
.footer span{
     font-style: italic;
      color: white;
      opacity: 100%;
}
form input{
    border: none;
    background-color: white;
    padding: 10px 30px;
}
.p2{
    color: white;
    font-size:15px ;
}
.h5-footer{
    font-size: 30px;
}
.white-line{
    background-color: white;
    width: 180px;
    height: 2px;
    position: relative;
    bottom: 10px;
}
.white-line-about{
    background-color: white;
    width: 130px;
    height: 2px;
    position: relative;
    bottom: 10px;
}
.white-line-logo{
    background-color: white;
    width: 80px;
    height: 2px;
    position: relative;
    bottom: 20px;
}
:root{
    --primary-color:white;
    --secondary-color:black;
}
.dark-theme{
    --primary-color:black;
    --secondary-color:white;
}

.p1 ,h1,p,h2,h5,h6{
    color: var(--secondary-color);
}
#night-mode{
    width: 40px;
    height: 40px;
}


